@import './normalize.css';
@import './fonts.css';

.what-know { 
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    /* padding-left: 74px;
    padding-right: 75px; */
    max-width: 1440px;
}
.section-title {
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
margin-left: 121px;
height: 93px;
width: 1319px;
}
.cheklist {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #000000;
padding: 0 auto;
margin-left: 138px;
margin-top: 20px;
margin-bottom: 225px;
/* margin-right: 565px; */
width: 45.5%; 
}


/* AF Программа курса */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.programm-class-general {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 101px;
    max-width: 1440px;
}
.programm-class {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 77px;
    padding-left: 65px;
     
}
.infocard {
    margin: 18.8px;
    width: 29%;
    box-shadow: 0 0 8px 0px gray;
    border-radius: 30px;
    background-color: white;
}
.imgcard {
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0
}
.info {
    width: 100%;
    height: 168px;
    /* min-height: 169px ;  */
    /* padding: 10px 0px 27px 19px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.subtitle {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    padding: 10px 0px 23px 22px;
    text-align: justify;
}
.date-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    padding: 0px 15px 23px 19px;
}

/* конец АФ  */




/* Стили по умолчанию (десктоп) */


/* Стили для планшета */










/* Стили для мобильных экранов */