@import './normalize.css';
@import './fonts.css';

.what-know { 
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-left: 74px;
    padding-right: 75px;
    max-width: 1600px;
}
.section-title {
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
margin-left: 37px;
height: 93px;
}
.cheklist {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #000000;
padding: 0 auto;
margin-left: 53px;
margin-top: 21px;
margin-bottom: 248px;
width: 44%; 
}

/* AF Программа курса */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.programm-class-general {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-left: 74px;
    padding-right: 75px;
    max-width: 1600px;
}
.programm-class {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 95px;
}
.infocard {
    margin: 20px;
    width: 30.5%;
    box-shadow: 0 0 8px 0px gray;
    border-radius: 30px;
    background-color: white;
}
.imgcard {
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0
}
.info {
    min-height: 168px ; 
    padding: 11px 14px 23px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.subtitle {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.date-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
.kurscount{
background: #EFEFEF;
}
.review{
    display: block;
margin-left: auto;
margin-right: auto ;
    background: #FFFFFF;
box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
width: 791px;
height: 451px;
}
.review p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
width: 700px;
padding-left: 45px;
padding-top: 40px;
}
.review h3{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 101.38%;
}
.kurscount h2{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;

height: 93px;
text-align: center;
}
.kurs1{
    margin-bottom: 29px;
    margin-left: 26px;
    
}
.review-flex{
    display: flex;
    
}
.review-aside{
    margin-left: 30px;
    margin-top:  50px;
}
.kurs2{
    margin-top: 30px;
    margin-bottom: 68px;
}
/* конец АФ  */




/* Стили по умолчанию (десктоп) */


/* Стили для планшета */


/* Стили для мобильных экранов */ 